form{
width:220px;
background:#ddd;
padding:20px 15px 15px 15px;
background-color:  #001a33;
border-radius:4px;}﻿
input[type="text"]{
width:80%;
}
input[type="button"]{
height:50px;
width:50px;
font-size:30px;
margin-top:5px;
border-radius:4px;
border:1px solid white;
}
.btn1{
width:100%;
height:50px;
font-size:40px;
text-align:right;
border:1px solid black;
background-color:black;
color:white;
font-family:courier;}
hr{
margin:10px 0;}
.btn2{
background-color:red;
color:white;
border:1px solid red;}

.btn3{
background-color:red;
color:white;
border:1px solid red;}

.btn4{
background-color:red;
color:white;
border:1px solid red;}
.btn5{
background-color:red;
color:white;
border:1px solid red;
border-radius:4px;}

.btn_slide{
margin-left:5px;}